langchain
langchain_community
langchain_google_genai
langchain-google-vertexai
langchain-cohere
langchain-aws
langchain-openai
langchain-huggingface
langgraph
python-dotenv
pandas
tqdm
numpy
torch
transformers
flask
flask-cors
flask-login
flask-sqlalchemy
ipykernel
sentencepiece
bitsandbytes
pypdf
textract
selenium
faiss-cpu
pytest