{% extends "base.html" %}
{% block title %}על הפרוייקט{% endblock %}
{% block content %}
<div class="container">
    <div class="row" id="about">
        <div class="col-lg-12">
            <h1 class="mt-5">על הפרוייקט</h1>
            <div id="aboutText">
                <p>{{ about_text }}</p>
                {% if user.permission == 'admin' %}
                    <button class="btn btn-primary m-1" id="editAboutBtn" onclick="setAboutEditing()">
                        <i class="fas fa-edit"></i> עריכה
                    </button>
                {% endif %}
            </div>
            {% if user.permission == 'admin' %}
                <div id="aboutEdit" style="display: none;">
                    <form method="post" action="/about">
                        <div class="form-group">
                            <label for="aboutTextArea">עריכת טקסט</label>
                            <textarea class="form-control" id="aboutTextArea" name="about_text" rows="10">{{ about_text }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary m-1">
                            <i class="fas fa-save"></i> שמור
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
