{% extends "base.html" %}
{% block title %}על הפרוייקט{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">על הפרוייקט</h1>
            <p class="lead">פרוייקט זה נוצר על מנת להפיק תשובות על בסיס טקסט מקורי מהאינטרנט.</p>
            <p>הפרוייקט משתמש במודל של גוגל, ומטרתו להפיק תשובות על בסיס שאלות שמספקים המשתמשים.</p>
            <p>המודל משתמש בשיטת פיתוח חדשה של גוגל, שמשלבת בין רשת נוירונים לבין טכניקות חיפוש טקסטואליות.</p>
            <p>המודל מאפשר למשתמשים לשאול שאלות ולקבל תשובות מהמודל, ולקבל תשובות מקוריות ומדויקות.</p>
            <p>המודל משתמש בטכניקות חיפוש טקסטואליות כדי למצוא את התשובות הטובות ביותר לשאלות שמספקים המשתמשים.</p>
            <p>המודל משתמש ברשת נוירונים עמוקה כדי להבין את השאלות שמספקים המשתמשים, ולהפיק תשובות מדויקות ומקוריות.</p>
        </div>
    </div>
</div>
{% endblock %}
