<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UrbanGPT{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <!-- FontAwesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body {% block body_attr %}onload="onLoad()"{% endblock %}>
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow navbar-expand-lg">
            <img src="static/logo.png" alt="Logo" class="navbar-logo-img" style="max-height:50px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="navbar-link" data-section="chat-section">בית</a></li>
                    <li class="nav-item"><a href="/about" class="navbar-link" data-section="about-section">על הפרוייקט</a></li>
                    <li class="nav-item"><a href="/contact" class="navbar-link" data-section="contact-section">צור קשר</a></li>
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a href="/login" class="navbar-link">התחבר</a></li>
                        <li class="nav-item"><a href="/register" class="navbar-link">הרשם</a></li>
                    {% else %}
                        {% if user.permission == 'admin' %}
                            <li class="nav-item"><a href="/dashboard" class="navbar-link">ניהול</a></li>
                        {% endif %}
                        <li class="nav-item"><a href="/logout" class="navbar-link">התנתק</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <div class="container-fluid mt-3">
            <div class="loader-container">
                <div class="loader"></div>
            </div>
            {% block content %}{% endblock %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js"></script>
    <script src="static/script.js" defer></script>
</body>
</html>
