{% extends "base.html" %}
{% block title %}ניהול{% endblock %}
{% block body_attr %}onload="onLoadDashboard()"{% endblock %}
{% block content %}
<div class="container">
    <h1>Manage Data</h1>
    <div class="table-responsive">
        <table class="table table-bordered" id="documentsTable">
            <thead>
                <tr>
                    {% for column in columns %}
                        <th data-type="{{ column.type }}">
                            {{ column.name }}
                            {% if column.name not in ['id','name'] %}
                                <button class="btn btn-danger" onclick="deleteColumn('{{ column.name }}')" data-toggle="tooltip" title="Delete Column">
                                    <i class="fas fa-trash"></i>
                                </button>
                            {% endif %}
                        </th>
                    {% endfor %}
                    <th>
                        <button class="btn btn-success" data-toggle="modal" data-toggle2='tooltip' data-target="#uploadDocumentModal" title="Upload Document">
                            <i class="fas fa-upload"></i>
                        </button>
                        <button class="btn btn-primary" data-toggle="modal" data-toggle2='tooltip' data-target="#addColumnModal" title="Add Column">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for doc in documents %}
                <tr id="row-{{ doc.id }}">
                    {% for column in columns %}
                        <td class="editable-cell" data-column="{{ column.name }}" data-type="{{ column.type }}">{{ doc[column.name] }}</td>
                    {% endfor %}
                    <td>
                        <a href="{{ url_for('document', doc_id=doc.id) }}" class="btn btn-info" data-toggle="tooltip" title="View">
                            <i class="fas fa-eye"></i>
                        </a>
                        <button class="btn btn-warning" id="edit-btn-{{ doc.id }}" onclick="editRow('{{ doc.id }}')" data-toggle="tooltip" title="Edit">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-success d-none" id="save-btn-{{ doc.id }}" onclick="saveRow('{{ doc.id }}')" data-toggle="tooltip" title="Save">
                            <i class="fas fa-save"></i>
                        </button>
                        <button class="btn btn-danger" onclick="deleteRow('{{ doc.id }}')" data-toggle="tooltip" title="Delete">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Upload Document Modal -->
<div id="uploadDocumentModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>העלה מסמך חדש</h2>
            <span class="close">&times;</span>
        </div>
        <form id="uploadDocumentForm">
            <div class="modal-body">
                <div class="form-group">
                    <label for="document">Select Document:</label>
                    <input type="file" name="document" class="form-control" id="document">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Upload</button>
            </div>
        </form>
    </div>
</div>

<!-- Add Column Modal -->
<div id="addColumnModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>הוסף עמודה חדשה</h2>
            <span class="close">&times;</span>
        </div>
        <form id="addColumnForm">
            <div class="modal-body">
                <div class="form-group">
                    <label for="column_name" class="form-label">שם העמודה:</label>
                    <input type="text" name="column_name" class="form-control" id="column_name" required>
                </div>
                <div class="form-group">
                    <label for="column_type">סוג העמודה:</label>
                    <select name="column_type" class="form-control" id="column_type" required>
                        <option value="text">טקסט</option>
                        <option value="numeric">מספר</option>
                        <option value="boolean">בוליאני</option>
                        <option value="date">תאריך</option>
                    </select>
                <div class="form-group">
                    <label for="column_description">תיאור:</label>
                    <textarea name="column_description" class="form-control" id="column_description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="model_name">שם המודל:</label>
                    <select name="model_name" class="form-control" id="model_name" required>
                        {% for model in models %}
                            <option value="{{ model }}">{{ model }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="num_retrieval_docs" class="form-label">מספר צ'אנקים למסמך:</label>
                    <input type="number" name="num_retrieval_docs" class="form-control" id="num_retrieval_docs" required>
                    <label for="is_full_doc">מסמך מלא:</label>
                    <input type="checkbox" name="is_full_doc" class="form-control" id="is_full_doc">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">הוסף</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
